*.d
*.o
*.elf
*.bin
*.dll
*.lib
*.pdb
*.exp
./funcs.h
patches.map
build/
.vscode/settings.json
mm_recomp_rando/
.vs/
runtime/
RecompModTool*
OfflineModRecomp*
BUILD_AND_RUN.lnk
BUILD.lnk
MakefileBackup
testing/PATCHED
testing/VANILLA
